[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Diet_utility
Exec=/opt/Diet_utility/bin/Diet_utility
Icon=Diet_utility
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
